global
    log stdout format raw local0

defaults
    log     global
    mode    tcp               
    timeout connect 10s
    timeout client  30m       
    timeout server  30m
    timeout check   2s

# 1. Panel de Control Visual (http://IP_DEL_BALANCEADOR:80)
listen stats
    mode http
    bind *:8080
    stats enable
    stats uri /
    stats refresh 5s

# 2. Balanceador de Entrada para la Aplicación
frontend galera_cluster_front
    bind *:3306
    mode tcp
    default_backend galera_cluster_back

# 3. Distribución de Nodos del Clúster
backend galera_cluster_back
    mode tcp
    option tcp-check          # Health check básico a nivel TCP
    balance roundrobin        # Algoritmo de balanceo cíclico

    # NOTA: Reemplaza las siguientes direcciones con las IPs locales de tus nodos Galera:
    server node1 192.168.0.100:3306 check inter 3000 rise 2 fall 3
    server node2 192.168.0.101:3306 check inter 3000 rise 2 fall 3
    server node3 192.168.0.102:3306 check inter 3000 rise 2 fall 3
